---
import Layout from "../layouts/MainLayout.astro";

import proPic from "../images/propic.jpg";
---

<Layout>
    <div class="container">
        <img src={proPic} alt="test image">
        <h2>Si sono io</h2>
        <div class="container">
            <p>
                Mi chiamo Antonio Labate e <a href="https://it.wikipedia.org/wiki/Sergio_Mattarella">questo</a> è il mio CV (non è vero mai) e questo è il mio Github (in alto a destra perché ti pare che ricopio ahah) ciao
            </p>
            <p>
                tessssssttttttt
            </p>
        </div>
    </div>
</Layout>

<style>

img {
  height: 300px;
  vertical-align: middle;
}

</style>