---
import BaseLayout from '../layouts/BaseLayout.astro';
import GithubActivity from '../components/GithubActivity.astro';
import Projects from '../components/Projects.astro';
---

<BaseLayout title="antolab.xyz - Home">
    <h2>Welcome to my Digital Workshop</h2>
    <section class="content-grid">
        <div class="content-left">
            <Projects />
        </div>
        <div class="content-right">
            <GithubActivity />
        </div>
    </section>
</BaseLayout>

<style>
  .content-grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1rem;
    padding: 1rem;
  }

  .content-left,
  .content-right {
    background: var(--background-white);
    padding: 1rem;
    border: 1px solid var(--border-color);
    border-radius: var(--radius-default);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  }

  .content-right {
    display: flex;
    flex-direction: column;
    height: fit-content;
  }

  @media (max-width: 768px) {
    .content-grid {
      grid-template-columns: 1fr;
    }
  }
</style>