---
import BaseLayout from '../layouts/BaseLayout.astro';
import Projects from '../components/Projects.astro';

---

<BaseLayout title="antolab.xyz - Projects">
    <section class="hero">
        <Projects />
    </section>
</BaseLayout>
