<div
  class="offer-box"
  *ngIf="offerVisible$ | async; else thinking"
>
<ng-container *ngIf="offerMode$ | async as offerMode">
  <h2>Il Dottore ha fatto un'offerta:</h2>

  <!-- Only Money -->
  <ng-container *ngIf="offerMode === 'money'">
    <p class="animated-offer gold-offer" [ngClass]="{'chosen': offerAccepted$ | async}">
      <span
        *ngFor="let digit of offerDigits; let i = index"
        class="offer-digit"
        [style.animationDelay]="2 + (offerLength - i - 1) * 2 + 's'"
      >
        {{ digit }}
      </span>
    </p>
    <div class="offer-controls">
      <ng-container *ngIf="(offerAccepted$ | async) === false; else offerAcceptedTemplate">
        <button (click)="acceptOffer()">Accetta</button>
        <button (click)="rejectOffer()">Rifiuta</button>
      </ng-container>
      <ng-template #offerAcceptedTemplate>
        <p>Offerta Accettata!</p>
      </ng-template>
    </div>
  </ng-container>

  <!-- Only Change -->
  <ng-container *ngIf="offerMode === 'change'">
    <p class="change-offer">Il Dottore ti propone un <span class="gold-offer full">CAMBIO</span></p>
    <div class="offer-controls">
      <button (click)="acceptChange()">Accetta</button>
      <button (click)="rejectOffer()">Rifiuta</button>
    </div>
  </ng-container>

  <!-- Let the player choose -->
  <ng-container *ngIf="offerMode === 'choice' && !choiceMade">
    <p>Il Dottore ti lascia scegliere:</p>
    <div class="offer-controls">
      <button (click)="selectOffer('money')">Offerta</button>
      <button (click)="selectOffer('change')">Cambio</button>
    </div>
  </ng-container>

  <!-- After choice -->
  <ng-container *ngIf="offerMode === 'choice' && choiceMade">
    <ng-container *ngIf="playerChoice === 'money'">
      <p class="animated-offer gold-offer">
        <span
          *ngFor="let digit of offerDigits; let i = index"
          class="offer-digit"
          [style.animationDelay]="2 + (offerLength - i - 1) * 2 + 's'"
        >
          {{ digit }}
        </span>
      </p>
      <div class="offer-controls">
        <button (click)="acceptOffer()">Accetta</button>
        <button (click)="rejectOffer()">Rifiuta</button>
      </div>
    </ng-container>

    <ng-container *ngIf="playerChoice === 'change'">
      <p class="change-offer">Hai scelto il <span class="gold-offer full chosen">CAMBIO</span><br> Cambia il pacco e andiamo avanti!</p>
      <div class="offer-controls">
        <button (click)="acceptChange()">Fatto</button>
      </div>
      </ng-container>
  </ng-container>
</ng-container>
</div>

<ng-template #thinking>
  <div 
  *ngIf="doctorThinking$ | async; else noOffer"
  class="offer-box empty">
  <h3>Il Dottore sta chiamando!</h3>
</div>
</ng-template>

<ng-template #noOffer>
  <div class="offer-box empty">
    <h3>Il Dottore non ha ancora proposto un'offerta o cambio.</h3>
  </div>
</ng-template>
