---
import '../styles/global.css';

import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

export interface Props {
    pageTitle?: string;
} 

const { pageTitle = "antolab.xyz" } = Astro.props as Props;
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- https://developers.google.com/fonts/docs/material_icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <title>{pageTitle}</title>
</head>
<body>
    <Header />
    <slot />
    <Footer />
</body>
</html>