---
import headerLogo from "../images/headerLogo.png";
import CoolNav from "../components/CoolNav.astro";

const texts = [ 'about', 'miao', 'github'];
const links = [
    '/about',
    'http://miao.antolab.xyz',
    'http://github.com/totolab'
];
const icons = [ 'face', 'pets', 'code'];

---

<header class="header">
    <div class="container">
        <div class="logo">
            <a href="index.html" >
                <img src={headerLogo} alt="website logo"> CASA
            </a>
        </div>
        <CoolNav items={ links } icons={ icons } texts={ texts } />
    </div>
</header>

<style>

.header {
  height: 70px;
  background: var(--color-primary);
}

.header .container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.header img {
  height: 50px;
  vertical-align: middle;
}

</style>